﻿@model Library.Models.Books.BookVM
@{
	ViewData["Title"] = "AddBook";
}

<h2>Add book</h2>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="AddBook" asp-controller="Book" method="post" enctype="multipart/form-data">

			@Html.ValidationSummary(true)

			<div class="form-group">
				@Html.LabelFor(model => model.Caption)
				@Html.TextBoxFor(model => model.Caption, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Caption)
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.Author)
				@Html.TextBoxFor(model => model.Author, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Author)
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.ReleaseDate)
				@Html.EditorFor(model => model.ReleaseDate, new { @class = "form-control datepicker", placeholder = "Enter Release Date here..." })
				@Html.ValidationMessageFor(model => model.ReleaseDate)
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.BookGenres)
				@Html.DropDownListFor(model => model.SelectedBookGenres, Model.BookGenres, new { @class = "form-control book-genres" })
				<br />
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.Description)
				<textarea rows="10" cols="45" class="form-control" asp-for="@Model.Description">
                @Model.Description
            </textarea>
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.BookFile)
				<input type="file" asp-for=@Model.BookFile name="BookFile" />
			</div>
			<br />
			<br />
			<div class="form-group">
				<input type="submit" value="Add Book" class="btn btn-primary" />
			</div>
		</form>

	</div>
</div>

<div>
	@Html.ActionLink("Back to book list", "Books", "Book")
</div>

