﻿@model Library.Models.Books.BookVM

@{
    ViewData["Title"] = "BookDetails";
}

<h2>Book Details</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Caption)
            @Html.TextBoxFor(model => model.Caption, new { @class = "form-control disabled", @readonly = "readonly" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Genres)
            @Html.TextBoxFor(model => model.Genres, new { @class = "form-control disabled", @readonly = "readonly" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Author)
            @Html.TextBoxFor(model => model.Author, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model=>model.Description)
              <textarea rows="10" cols="45" readonly="readonly" class="form-control">
                @Model.Description
            </textarea>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Preview", "DownloadBook", new { id = Model.BookId })
</div>
<div>
    @Html.ActionLink("Back to Book list", "Books")
</div>
<div>
    @Html.ActionLink("Back to Home page", "Index","Library")
</div>