﻿@model Library.Models.Users.UserVM


@{
    ViewData["Title"] = "AddUser";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<h2>Add User</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("AddUser", "User", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName)
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LastName)
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })<span style="color:red;">@Html.ViewBag.Message</span>
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Address)
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber)
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control " })
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
            @*<div class="form-group">
                @Html.DropDownListFor(model => model.MaritalStatusId, Model.MaritalStatuses, new { @class = "form-control" })
            </div>*@
            <div class="form-group">
                <input type="submit" value="Add User" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to Home page", "Index","Library")
</div>