﻿@model IEnumerable<Library.Models.Users.UserVM>

@{
	ViewData["Title"] = "Users";
}

<h1>Users</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UserName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LastName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Address)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.UserName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.FirstName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.LastName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Address)
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>
				@Html.ActionLink("Edit", "EditUser", new { @class = "EditUserVM", id = item.UserId })&ensp;&ensp;
				@Html.ActionLink("Books", "DetailsUser", new { id = item.UserId })&ensp;&ensp;
				@Html.ActionLink("Delete", "DeleteUser", new { id = item.UserId })&ensp;&ensp;
			</td>
		</tr>
		}
	</tbody>
</table>

<div>
	@*  @Html.ActionLink("Add user", "AddUser") &ensp;&ensp;*@
	@Html.ActionLink("Back to Home page", "Index", "Library")
</div>