﻿
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Add Book", "AddBook","Book")

<hr />

@Html.ActionLink("Add User", "AddUser","User")

<hr />

@Html.ActionLink("List of books", "Books","Book")


<hr />

@Html.ActionLink("List of users", "Users","User")

